/* Step Wizard */
.stepwizard {
  display: flex;
  justify-content: space-between;
}

.step-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  font-weight: bold;
  line-height: 40px;
  text-align: center;
}
.checkout-summary {
  position: sticky;
  top: 20px;
  align-self: flex-start;
}

.step-active {
  background-color: var(--primary-color);
}

.step-completed {
  background-color: var(--secondary-color);
}

/* Progress Bar */
.progress-bar {
  background-color: var(--primary-color);
}




/* Form Sections */
.form-section {
  display: none;
}

.form-section.current {
  display: block;
}
/* ===========================
   Payment Section Styles
=========================== */

#paymentSection {
  margin-top: 20px;
}

.section-heading {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 15px;
}

.custom-radio {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.custom-radio input[type="radio"] {
  margin-right: 10px;
  transition: all 0.3s ease;
}

.custom-radio label {
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.custom-radio label:hover {
  color: var(--secondary-color);
  transform: scale(1.05);
}

.custom-radio input[type="radio"]:checked + label {
  color: var(--secondary-color);
  font-weight: bold;
}

.custom-radio input[type="radio"]:checked {
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  transition: background 0.3s ease;
}

.custom-radio input[type="radio"]:checked:focus {
  box-shadow: 0 0 5px var(--secondary-color);
}

/* Button Styles */
.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.btn-custom {
  padding: 12px 30px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  background-color: var(--secondary-color);
  color: white;
  border: 2px solid var(--secondary-color);
}


.next-btn {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 48%;
}

.prev-btn {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  width: 48%;
}

.next-btn:disabled,
.prev-btn:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}
