<div class="checkout-page d-flex gap-4">
  <!-- 👈 Steps Column -->
  <div class="checkout-steps flex-grow-1">

    <!-- زر اختيار طريقة التوصيل -->
    <div class="d-flex justify-content-between mb-4">
      <button type="button" class="btn-option" (click)="selectDeliveryMethod('ship')">Ship to Address</button>
      <button type="button" class="btn-option" (click)="selectDeliveryMethod('pickup')">Pick-Up from Store</button>
    </div>

    <!-- الخطوة 1 -->
    <div *ngIf="currentStep === 1" class="form-section current" id="deliverySection">
      <app-delivery-info [checkoutModel]="checkoutModel" [currentStep]="currentStep" (nextStep)="nextStep()">
      </app-delivery-info>
    </div>

    <!-- الخطوة 2 -->
    <div *ngIf="currentStep === 2" class="form-section current" id="paymentSection">
      <app-payment-info [checkoutModel]="checkoutModel" [currentStep]="currentStep" (nextStep)="nextStep()"
        (previousStep)="previousStep()">
      </app-payment-info>
    </div>

    <!-- الخطوة 3 -->
    <div *ngIf="currentStep === 3" class="form-section current" id="confirmationSection">
      <app-order-confirmation [checkoutModel]="checkoutModel" [currentStep]="currentStep"
        (previousStep)="previousStep()">
      </app-order-confirmation>
    </div>

  </div>

  <!-- 👉 Summary Column -->
  <div class="checkout-summary w-25">
    <app-order-summary [checkoutModel]="checkoutModel" [shopName]="shopName">
    </app-order-summary>
    
  </div>

</div>
