<div class="sales-overview">
  <h5 class="mb-3">Sales Overview</h5>
  <div class="overview-item">
    <span>Total Profit</span>
    <div class="overview-bar profit-bar" style="width: 65%;"></div>
    <span>$1,619 (6.5%)</span>
  </div>
  <div class="overview-item">
    <span>Total Income</span>
    <div class="overview-bar income-bar" style="width: 86%;"></div>
    <span>$3,571 (86.4%)</span>
  </div>
  <div class="overview-item">
    <span>Total Expenses</span>
    <div class="overview-bar expense-bar" style="width: 74%;"></div>
    <span>$3,430 (74.5%)</span>
  </div>
</div>