<div *ngIf="isLoading" class="loader-container">
    <div class="loader">
        <div class="pulse-dot"></div>
        <div class="floating-elements">
            <div class="floating-element"></div>
            <div class="floating-element"></div>
            <div class="floating-element"></div>
            <div class="floating-element"></div>
        </div>
    </div>
    <div class="loading-text">
        <span style="animation-delay: 0s;">L</span>
        <span style="animation-delay: 0.1s;">o</span>
        <span style="animation-delay: 0.2s;">a</span>
        <span style="animation-delay: 0.3s;">d</span>
        <span style="animation-delay: 0.4s;">i</span>
        <span style="animation-delay: 0.5s;">n</span>
        <span style="animation-delay: 0.6s;">g</span>
        <span class="dot dot1" style="animation-delay: 0.7s;">.</span>
        <span class="dot dot2" style="animation-delay: 0.8s;">.</span>
        <span class="dot dot3" style="animation-delay: 0.9s;">.</span>
    </div>
    <div class="progress-bar">
        <div class="progress-fill">
            <div class="wave-effect"></div>
        </div>
    </div>
</div>