<div class="container-fluid min-vh-100 d-flex align-items-center justify-content-center bg-light">
    <div class="row w-75 shadow rounded overflow-hidden">
        <!-- Left Column (Image) -->
        <div class="col-md-6 d-none d-md-block p-0">
            <img src="src\assets\register-side.jpg" alt="Register" class="img-fluid h-100 w-100 object-fit-cover">
        </div>

        <!-- Right Column (Form) -->
        <div class="col-md-6 bg-white p-5">
            <h3 class="mb-4 text-center">Create an Account</h3>

            <form (ngSubmit)="register()">
                <div class="mb-3">
                    <label for="username" class="form-label">Full Name</label>
                    <input type="text" id="username" name="username" class="form-control" [(ngModel)]="model.userName"
                        required placeholder="Enter your full name" />
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" id="email" name="email" class="form-control" [(ngModel)]="model.email" required
                        placeholder="Enter your email" />
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                        [(ngModel)]="model.password" required placeholder="Enter your password" />
                </div>

                <select [(ngModel)]="model.role" name="role" required>
                    <option value="">Select Role</option>
                    <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
                </select>
                <button type="submit" class="btn btn-primary w-100">Register</button>
            </form>

            <div class="text-center mt-3">
                <a routerLink="/account/login">Already have an account? Login</a>
            </div>
        </div>
    </div>
</div>