.object-fit-cover {
  object-fit: cover;
}

.btn-check:checked + .btn-outline-primary {
  background-color: #0d6efd;
  color: white;
}

.btn-group .btn {
  flex: 1;
  padding: 10px;
}

.btn-group .btn i {
  font-size: 1.1em;
}
