.sidebar {
  position: fixed;
  width: 250px;
  top: 0;
  bottom: 0;
  overflow-y: auto;
}

.nav-item.active a {
  background-color: #007bff;
  color: white !important;
}

.nav-item a:hover {
  background-color: #f8f9fa;
}

.logo img {
  max-width: 50px;
}

.sidebar-footer .logout:hover a {
  background-color: #f8f9fa;
}
